{% extends "base.html" %} {% block title %}Resident Home{% endblock %} {%block content%}

<h1 class="my-5" align="center">Resident Home</h1>

<h5 class="my-3">Name: {{user.name}}</h5>
<h5 class="my-3">Email: {{user.email}}</h5>
<h5 class="my-3">Contact Number: {{user.contactNo}}</h5>

{% if user.family %}
    <h1 align="center" class="mt-5">Family Members</h1>
    <ul class="list-group list-group-flush" id="requests">
        {% for member in user.family %}
            <li class="list-group-item">
                <h5 class="my-3">Name: {{member.name}}</h5>
                <h5 class="my-3">Email: {{member.email}}</h5>
                <h5 class="my-3">Contact Number: {{member.contactNo}}</h5>               
            </li>
        {% endfor %}
    </ul>
{% endif %}


{%endblock%}